@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    var homeIsActive = ViewBag.Title == "Home" ? "active" : "";
    var aboutUsIsActive = ViewBag.Title == "About Us" ? "active" : "";
    var contactUsIsActive = ViewBag.Title == "Contact Us" ? "active" : "";
    var createIsActive = ViewBag.Title == "Create" ? "active" : "";
    var modifyIsActive = ViewBag.Title == "Modify Movies" ? "active" : "";
    var signInIsActive = ViewBag.Title == "Sign In" ? "active" : "";
        
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewBag.Title
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" asp-controller="Movies" asp-action="Overview">My Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsupportedcontent" aria-controls="navbarsupportedcontent" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsupportedcontent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @homeIsActive">
                    <a class="nav-link" asp-controller="Movies" asp-action="Overview">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item @aboutUsIsActive">
                    <a class="nav-link " asp-controller="Info" asp-action="AboutUs">About us</a>
                </li>
                <li class="nav-item @contactUsIsActive">
                    <a class="nav-link " asp-controller="Info" asp-action="ContactUs">Contact us</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    if (Convert.ToBoolean(User.FindFirst("IsAdmin").Value))
                    {
                        <li class="nav-item" @modifyIsActive>
                            <a class="nav-link" asp-controller="Movies" asp-action="ModifyOverview">Modify Movies</a>
                        </li>
                        <li class="nav-item" @modifyIsActive>
                            <a class="nav-link" asp-controller="Users" asp-action="ModifyUsersOverview">Modify Users</a>
                        </li>

                    }

                    <li class="nav-item">
                        <a class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="SignOut">Sign Out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item" @signInIsActive>
                        <a class="nav-link" asp-controller="Auth" asp-action="SignIn">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="SignUp">Register</a>
                    </li>
                }

            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Movies" asp-action="Overview">
            <div class="form-group">
                <div class="input-group">
                    <input name="Title" value="" id="title" class="form-control text-dark" placeholder="Search" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-outline-dark" value="Search">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </nav>
    @RenderBody()
</body>
</html>